<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пользователи</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid bg-dark py-3">
    <div class="row align-items-center">
        <div class="col-11">
            <h3 class="m-0 d-flex flex-wrap align-items-center">
                <span class="fw-bold text-white" th:text="${user?.email}">email</span>
                <span class="mx-1">with roles:</span>
                <span th:each="role : ${roles}"
                      class="mx-1 fw-bold text-white"
                      th:text="${#strings.replace(role.name,'ROLE_','')}">ROLE</span>
            </h3>
        </div>
        <div class="col-1 text-end">
            <form th:action="@{/logout}" th:method="post" class="d-flex">
                <button type="submit" class="btn btn-outline-secondary no-hover-fill" style="border: none;">Logout
                </button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-2 bg-white min-vh-100 pt-3">
            <button class="sidebar-btn active">Admin</button>
            <button class="sidebar-btn">User</button>
        </div>
        <div class="col-10 p-4 content-area"><h1>Admin panel</h1>
            <ul class="nav nav-tabs mb-0" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users"
                            type="button" role="tab">Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="newuser-tab" data-bs-toggle="tab" data-bs-target="#newuser"
                            type="button" role="tab">New User
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="card border rounded">
                        <div class="card-header all-users-tab">All users</div>
                        <div class="card-body p-0">
                            <div class="border-top" style="padding: 1.25rem;">
                                <table class="table table-striped mb-4 border-top">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user?.id}">ID</td>
                                        <td th:text="${user?.name}">First Name</td>
                                        <td th:text="${user?.surname}">Last Name</td>
                                        <td th:text="${user?.age}">Age</td>
                                        <td th:text="${user?.email}">Email</td>
                                        <td><span th:each="role : ${user.roles}"> <span
                                                th:text="${role?.name}">Role</span>
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-edit-white"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editUserModal"
                                                    th:attr="data-id=${user.id},
                                                             data-name=${user.name},
                                                             data-surname=${user.surname},
                                                             data-age=${user.age},
                                                             data-email=${user.email}">
                                                Edit
                                            </button>
                                        </td>
                                        <td>
                                            <form th:method="POST" th:action="@{/admin/delete?id={id}(id=${user.id})}">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newuser" role="tabpanel" aria-labelledby="newuser-tab">
                    <div class="card border rounded">
                        <div class="card-header new-user-tab">Add new user</div>
                        <div class="card-body p-3 new-form-container">
                            <div th:replace="new :: newUserForm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="edit :: editUserForm"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
    const editUserModal = document.getElementById('editUserModal');
    if (editUserModal) {
        editUserModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;

            const id = button.getAttribute('data-id');
            const name = button.getAttribute('data-name');
            const surname = button.getAttribute('data-surname');
            const age = button.getAttribute('data-age');
            const email = button.getAttribute('data-email');

            document.getElementById('editId').value = id;
            document.getElementById('editName').value = name;
            document.getElementById('editSurname').value = surname;
            document.getElementById('editAge').value = age;
            document.getElementById('editEmail').value = email;
            document.getElementById('editPassword').value = ''; // оставляем пустым для безопасности
        });
    }
</script>
</body>
</html>